html(ng-app='js-todo')
  head
    if devel
      script(src='http://localhost:35730/livereload.js')

    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='/todo/app/app.js')

    link(href="/todo/css/todo.css", rel="stylesheet")
    link(href="/favicon.ico?v=js-exercise", type="image/x-icon",rel="icon")

body#top
  h1 Školení - Javascript - cvičení (www.angular.cz)
  if devel
    .devel-warning Pozor, díváš se na DEVEL verzi - nezapomeň ji promítnout pomocí "npm run build"

  div.row(ui-view="")

  script(type='text/ng-template' id='intro')
    include intro

  script(type='text/ng-template' id='todos')
    include todos

  script(type='text/ng-template' id='todo')
    include todo

  script(type='text/ng-template' id='directive-pagination')
    include directive-pagination

  script(type='text/ng-template' id='directive-note')
    include directive-note

  script(type='text/ng-template' id='directive-solution')
    include directive-solution

  each todoName in todos
    script(type='text/ng-template' id='todo-#{todoName}')
      div
        != render('../' + todoName + '/complete/todo.jade')