@import "../bower_components/bootstrap/less/bootstrap.less";

@icon-font-path: "/bower_components/bootstrap/fonts/";

body {
  .container-fluid;
}

.menu {
  .make-sm-column(3);
  .hidden-xs;
}

.main {
  .make-sm-column(9);
}

note {
  div {
    div {
      .alert;
      .alert-info;
      padding: 10px;
    }
  }
}

pagination {
  div {
    padding-top: 15px;
    padding-bottom: 15px;

    .prev, .next {
      .btn;
      .btn-info;
    }

    .next {
      float: right;
    }
  }
}

.devel-warning {
  .alert;
  .alert-danger;
}

.open-exercise {
  .btn;
  .btn-success;
  .btn-lg;
}

.bigger-distance {
  margin-top:30px;
}
