p.
  V tomto cvičení se podíváme na zpracování asynchronních událostí a také na způsob jak se dají testovat.
  Příklad budeme opět psát proti testům a zobrazovat je v jasmine přímo v prohlížeči.

p.
  Vašim úkolem bude dokončit a otestovat implementaci časovače, který bude možné používat následujícím způsobem

pre
  code.
    var countdown = new Countdown(10);  // vytvoření instance odpočtu, bude odpočítávat od 10

    // odpočet spustíme voláním start, jako parametry můžeme předat callbacky
    //   updateTime - je volán každou vteřinu s aktuální hodnotou časovače
    //   finalCallback - je volán po dokončení odpočtu s hodnotou od které se odpočítávalo

    countdown.start(updateTime, finalCallback);

    coundown.stop();  // odpočítávání můžeme kdykoli ukončit

ul
  li Prohlédněte si kód objektu "Countdown" v "index.js". Jedná se o objekt provádějící odpočet.
  li Testy najdete v souboru "tests.js".
  li Protože se jedná o testy, které čekají na vyhodnocení, jsou potlačeny pomocí funkce "pending()".
  li Funkci "pending()" odstraňte když se dostanete k práci na příslušném testu.

h3 1 - Implementace odpočtu.
ul
  li Prohlédněte si metodu "doTick" v "index.js" provádí postupný odpočet, volá "updateCallback" a po dokončení "finalCallback"
  li Tyto funkce se zadávají jako parametry metody "start"
  li V první fázi napíšeme test volání funkce "updateCallback", a poté funkcionalitu implementujeme

h4 1.1 - Test pro odpočet

ul
  li Odstraňte v testu "update volá po vteřině" volání pending().
  li Budeme testovat hodnotu předanou do funkce "updateCallback" - měla by být o 1 nižší než původní hodnota.
  li.
    Nezapomeňte, že pokud testujeme asynchronní operace, musíme to dát jasmine najevo a také říct kdy operace skončila.
    Když to neuděláme, uvidíme před názvem testu "SPEC HAS NO EXPECTATIONS"
  li Tím získáme padající test s chybou "Timeout - Async callback was not invoked" a můžeme přejít k implementaci

note  Do testu musíte přidat callback "done" jako parametr a ten po vyhodnocení asynchronní operace také zavolat.
solution.
  it('update volá po vteřině (TODO 1.1)', function(done) {
    var countdown = new Countdown(1);

    var updateCallback = function (value) {
      expect(value).toBe(0);
      done();
  };

  countdown.start(updateCallback);
  });

h4 1.2 - Implementace odpočtu
ul
  li Test nám nyní říká, že callback pro dokončení nebyl volán, důvodem je, že metoda "doTick" není vůbec volána.
  li V metodě start v index.js je nutno nastavit interval opakovaného volání metody "doTick" po jedné vteřině.
  li Uložte si identifikátor intervalu do atributu "intervalID" pro další pracování

note Signatura nastavení intervalu je "setInterval(callback, delay-v-ms)". Nezapomeňte na použití bind kvůli kontextu.
solution.
  this.intervalID = setInterval(this.doTick.bind(this), 1000);

h4 1.3 - finalCallback a zrychlení testů
ul
  li Nyní chceme zkontrolovat volání funkce finalCallback po dokončení odpočtu
  li Odstraňte pending() v příslušném testu a prohledněte si co dělá
  li Test sice prochází ale je neúnosně pomalý. Čeká totiž na dokončení časování.
  li Jasmine toto umí urychlit. Před každým testem instalujte a po každém testu odinstalujte modul "clock"
  li Do tohoto testu umístěte poskočení kroku o 4000 ms - za konec odpočtu.
  li Zrychlit můžete i předchozí test - poskočením o 1001 ms.

note Pro instalaci se používá "jasmine.clock().install()". Pro posunutí času. "jasmine.clock().tick(delay);"

solution.
  beforeEach(function() {
    jasmine.clock().install();
  });

  afterEach(function() {
    jasmine.clock().uninstall();
  });

  ...
  jasmine.clock().tick(4000);


h4 1.4 - finalCallback nemá být volán po zastavení odpočtu metodou stop
ul
  li Odstraňte z testu pending()
  li Test by měl ověřit, že callback nebyl volán.
  li Momentálně zdánlivě prochází, ale nereaguje na situaci, kdy byl callback "finalCallback" volán po zastavení.
  li V předaném final callbacku tedy vyvolejte selhání testu.
  li Tím jsme získaly padající test, a můžeme se pustit do implementace metody stop

note Callback "done" má na sobě metodu "fail(message)"

solution.
  countdown.start(null, function() {
    done.fail("final callback byl zavolán i když byl odpočet zastaven");
  });

h4 1.5 - Zastavte časovač
ul
  li Test nám nyní hlásí, že byl final zavolán i po konci časování.
  li Podívejte se do metody "stop" a zjistíte, že se zde nic neděje.
  li Ukončete tedy interval spouštějící metodu "doTick" podle uloženého id
  li Vynulujte atributy intervalID, updateCallback

note Pro ukončení intervalu použijte "clearInterval(id-intervalu)"

solution.
  Countdown.prototype.stop = function() {
    clearInterval(this.intervalID);
    this.intervalID = null;
    this.updateCallback = null;
  };

h3 2 - Vyzkoušejte časovač v UI
ul
  li Když prochází testy, můžeme vyzkoušet časovač na UI v "index.html"
  li Je zde připravená instance časovače i funkce pro vykreslení "updateTime"
  li Zavolejte tedy metodu "start" s touto funkcí. Časovač se Vám zobrazí nad testy.

solution.
  countdown.start(updateTime);