p.
  V tomto příkladu se podíváme více do prohlížeče a budeme pracovat s DOMem.
  Budeme se snažit, aby aplikace zůstala stále dobře strukturovaná a testovaná.

ul
  li Budeme tedy podstatnou část psát opět proti testům a až po jejich splnění se podíváme na UI.
  li Zkusíme si také takovýto test vytvořit.

h4 Karma runner
ul
  li V jedné konzoli nechejte běžet "npm start" - webserver s cvičeními
  li V druhé spusťte příkaz:
pre
  code npm run tests-dom

h3 1 - Oživení displaye

h4 1.1 - Přidejte Display do modulu aplikace
ul
  li První test nám říká, že "Display" není definován v "App"
  li Inicializujte tedy v "display.js" tento namespace a přiřaďte do něj konstrukční funkci objektu "Display"
  li Display bude od té doby dostupný přes "App.Display"

note Nezapomeňte zohlednit že scripty mohou být přidány v různém pořadí.

solution.
  var App = App || {};
  App.Display = (function () {
    var Display = function (displayElement) {
      ...
    };
    return Display;
  })();

h4 1.2 - Vytvořte mock
ul
  li V druhém testu budeme chtít testovat chování elementu.
  li Na fiktivním elementu chceme ověřit, že byla nastavena iniciální hodnota.
  li Vytvořte tedy v beforeEach v "display.spec.js" mock, který bude mít metodu setAttribute.

note Použijte metodu jasmine.createSpyObj("název", [metody])

solution.
  beforeEach(function() {
    this.element = jasmine.createSpyObj("element", ['setAttribute']);
  })

h4 1.3 - Předejte mock do Displaye
ul
  li Nyní vytvořte v testu "renderuje data do elementu" novou instanci "Displaye" a předejte mu vytvořený mock v parametru

solution.
  var display = new App.Display(this.element);

h4 1.4 - Nastavte hodnotu displaye
ul
  li Vytvořený test už říká, že se nevolá požadovaná metoda. Můžeme tedy začít s implementací.
  li Nastavte tedy uvnitř funkce "render_" v "display.js" na elementu do atribut "value" obsah "this.value_"

note Pro nastavení atributu se používá metoda "setAttribute("key", value");

solution.
  this.element_.setAttribute("value", this.value_);

h4 1.5 - Použijte display ve view
ul
  li Nyní jste pomocí TDD oživili objekt Display
  li V "index.html" jej instancujte a předejte mu skutečný element
  li Prohlédněte si html, půjde nám o element s id="display"

note Element můžete získat pomocí document.querySelector("#id-elementu")
solution.
  var displayElement = document.querySelector("#display");
  var display = new App.Display(displayElement);

ul
  li Display se na UI projevil tak, že se v jeho poli objevila 0

h3 2 - Reakce na kliknutí na tlačítko
h4 2.1 - Reagujte na kliknutí

ul
  li Nyní budeme v souboru "buttonControls.js" oživovat tlačítka.
  li První co potřebujeme udělat je poslouchat události kliknutí, můžeme poslouchat na celé klávesnici, kterou reprezentuje parametr konstrukční funkce "buttonElement"
  li Poslouchejte tedy na "buttonElement", událost kliknutí a zavolejte metodu "processButton"

note Pro sledování události se používá metoda addEventListener("událost", metoda"). Nezapomeňte, že musíte předat metodě kontext pomocí "bind"

solution.
  buttonsElement.addEventListener("click", this.processButton.bind(this));

h3 3 - Implementujte reakci na tlačítka
ul
  li Reakci na kliknutí na tlačítko budeme implementovat právě v metodě "processButton" v "buttonControls.js"

h4 3.1 - Reakce na výběr čísla
ul
  li Získejte z události objekt který ji vyvolal - tím může být právě tlačítko
  li Získejte z tlačítka atribut "value" a s ním zavolejte metodu "processNumber_"

note Původce události najdete ve vlastnosti event.target. Atribut získáte pomocí getAttribute(key).
solution.
    var button = event.target;

    var value = button.getAttribute("value");
    this.processNumber_(value);


h4 3.2 - Reakce na výběr operace
ul
  li Mimo čísel může uživatel stisknout tlačítko akce, to se pozná podle css třídy "operation". Název operace je poté uložen ve vlastnosti name.
  li V případě že má tlačítko třídu "operation" získejte jeho vlastnost name a zavolejte s ním metodu "processOperation_"
  li V opačném případě kliknutí zpracovávejte jako číslo

note Seznam tříd elementu je uložen ve vlastnosti "classList", můžete na něm volat metodu "contains(trida)".
  br
  | Vlastností name není myšlen atribut, ale opravdu vlastnost objektu - element.name
solution.
  if (button.classList.contains("operation")) {
    this.processOperation_(button.name);
  } else {
    var value = button.getAttribute("value");
    this.processNumber_(value);
  }

h4 3.3 - ProcessButton by měl brát v potaz pouze kliknutí na tlačítko
ul
  li V našem případě můžeme vyjít z vlastnosti "type", které se u tlačítka rovná "button"

solution.
  if (button.type !== "button") {
    return;
  }

h3 4 - Použijte ButtonControls ve view
ul
  li Poslední částí je přidat ovladač tlačítek do view v "index.html"
  li Získejte element s id "buttons".
  li Podívejte se na konstruktor ButtonControls, jaké požaduje parametry.
  li Vytvořte novou instanci App.ButtonControlls, které předejte potřebné objekty

solution.
  var buttonsElement = document.querySelector("#buttons");
  var controls = new App.ButtonControls(buttonsElement, calculator, display);

h3 5 - Vyzkoušejte UI
ul
  li V tuto chvíli si můžete celou kalkulačku vyzkoušet na UI.
  li Podívejte se na zbylé části kódu a prohlédněte si také implementaci testů