p.
  V předchozím cvičením jsme viděli kalkulačku, do které můžeme přidat akce a zpětně je volat,
  nijak ale nebylo řešeno ošetření chyb.
  Nyní tedy použijeme výjimky k ošetření těchto stavů. Opět máte připravené testy, které spouští v prohlížeči.

h3 1 - Ošetření neplatné operace

h4 1.1 - Vytvořte test očekávající vyhození TypeError
ul
  li Při přidání neplatné operace by měla být vyhozena výjimka TypeError
  li Před samotnou implementací dokončeme rozpracovaný test v tests.js, který hlásí "SPEC HAS NO EXPECTATIONS"
  li Přidání neplatné akce už máme v testu naznačeno, musíme ale nyní otestovat, že přitom má dojít k výjimce
  li Vytvořený test nebude zatím procházet

note Pro otestování výjimky můžete použít "except(...).toThrowError(typeOfException)"
  br
  | Nezapomeňmte, že kód, kde je očekávána výjimka musíte obalit anonymní funkcí.

solution.
  expect(
    function () {
      calculator.addOperation({});
    }
  ).toThrowError(TypeError);

h4 1.2 - Ošetření přidání neplatné operace
ul
  li Nyní už máme připraven test, můžeme se pustit do implementace
  li V případě, že přidávaná operace není potomkem "Operation", vyhoďte výjimku TypeError.

note Při negaci instanceof nezapomeňte na správné závorkování.

solution.
  this.addOperation = function (operation) {
    if(!(operation instanceof Operation)){
      throw new TypeError("operation must be instance of Operation");
    }
    this.operations[operation.name] = operation;
  }

h3 2 - Vytvořte výjimku UnknownOperationError
ul
  li Vytvořte konstrukční funkci "UnknownOperationError" akceptující parametr "message"
  li Přiřaďte správné hodnoty "name", "message" a "stack"
  li Zděďte Error a nezapomeňte opravit konstruktor

note Stack získáte z (new Error()).stack

solution.
  var UnknownOperationError = function(message) {
    this.name = 'UnknownOperationError';
    this.message = message || 'Unknown operation';
    this.stack = (new Error()).stack;
  }
  UnknownOperationError.prototype = Object.create(Error.prototype);
  UnknownOperationError.prototype.constructor = UnknownOperationError;

h3 3 - Ošetření neznámé operace
ul
  li Vyhoďte výjimku v případě že je volána operace neobsažená v objektu operations
  li Předejte jí ve zprávě název operace

note Pro kontrolu zda je operace přítomna můžete využít implicitní konverzi na boolean. Stačí použít if(objekt[nazev]) ...

solution.
  this.calculate = function (name, a, b) {
    if (!this.operations[name]) {
      throw new UnknownOperationError('Unknown operation: ' + name);
    }

    return this.operations[name].calculate(a, b);
  }