p.
  V předchozích cvičeních jste se setkali s object literalem. V tomto cvičení se podíváme na vytváření objektů pomocí konstrukční funkce a na dědičnost.
  Názvy testů zde již nepopisují to co máte udělat, ale kontrolují průběžně Vaši práci.

h3 1 - Generátor
p.
  Takto vypadá generátor z předchozího příkladu.
solution(visible).
    var generatorFactory = function(initialNumber) {
      initialNumber = initialNumber || 0;
          return function generator() {
        return initialNumber++;
      }
    };

ul
  li V této části jej proměníme v objekt, který můžeme vytvořit pomocí new a použít následujícím způsobem.

solution(visible).
  var generator = new Generator(42);

  generator.increase() // 42
  generator.increase() // 43
  generator.increase() // 44

ul
  li tento úkol zpracovávejte v souboru "generator-oop.js"

h4 1.1 - Vytvořte konstrukční funkci
ul
  li Vytvořte konstrukční funkci pojmenovanou "Generator" s jedním parametrem jehož defaultní hodnota je 0.
  li Přiřaďte initialNumber zatím pouze do proměnné

  li Z původní vracené funkce generator nyní udělejte metodu "increase"

note Přiřaďte atribut "initialNumber" i funkci "increase" na this

solution.
  var Generator = function(initialNumber) {
    var initialNumber = initialNumber || 0;

    this.increase = function() {
      return initialNumber++;
    }
  };

h4 1.2 - Použijte prototype
ul
  li Generátor již splňuje všechny požadavky, ale každá instance s sebou nese i metodu "increase"
  li Přesuňte tedy tuto metodu do jeho prototypu.

note K prototypu můžete přistupovat přes název konstrukcni funkce a vlastnost "prototype".

ul
  li Pokud jste nechali initialNumber jako proměnnou, tak Vám tato úprava rozbije testy
  li Zamyslete se nad tím proč, a opravíme je v dalším kroku.
h4 1.3 - Opravte přístup k attributům
ul
  li Testy přestali procházet, protože metoda v prototype nevidí proměnnou "initialNumber"
  li Udělejte z ní tedy attribut objektu

note Uložte initialNumber do atributu this.initialNumber.

solution.
  var Generator = function(initialNumber) {
    this.initialNumber = initialNumber || 0;
  };
  Generator.prototype.increase  = function() {
    return this.initialNumber++;
  }

h4 1.4 - Instancujte Generátor

ul
  li Instancujte Generátor pomocí vytvořené konstrukční funkce do proměnné "generatorFrom10" a nastavte 10 jako počátek generování
  li Do proměnné "firstGenerated" přiřaďte hodnotu vrácenou metodou "increase"


solution.
  var generatorFrom10 = new Generator(10);
  var firstGenerated = generatorFrom10.increase();

h3 2. Test operace sčítání
ul
  li V této části se opět vrátíme ke kalkulačce a podíváme se jak je možné použít objekty zde.
  li Cvičení se bude odehrávat v souboru "calculator.js"
  li Připravili jsme pro Vás operaci "Add", která sčítá dvě čísla, na ní si vyzkoušíme objektové programování a dědičnost.

h4 2.1 - vytvořte test "počítá součet"
ul
  li Podívejte se, jak je operace Add implementována a jak je napsán test pro kontrolu názvu v "calculator.spec.js"
  li Napište test s názvem "počítá součet", který předá funkci calculate dvě čísla a očekává jejich součet
  li Tento test by Vám měl ihned procházet

solution.
  it('počítá součet', function () {
    var add = new Add();
    expect(add.calculate(1, 2)).toBe(3);
  });

h4 2.2 - vytvořte test "ošetřuje vstupy"
ul
  li Operace Add nemá ošetřené vstupy proti zadání řetězce, dojde přitom k řetězení.
  li Než se pustíme do implementaci, napište test pojmenovaný "ošetřuje vstupy"
  li Bude vypadat stejně jako předchozí, jen do operace posílejte místo čísel řetězce - "1"
  li Tento test Vám nebude procházet, protože ošetření není zatím implementováno

solution.
  it('ošetřuje vstupy', function () {
    var add = new Add();
    expect(add.calculate("1", "2")).toBe(3);
  });

h3 3. Rozšíření operací
h4 3.1 - Ošetření vstupů operace Add
ul
  li protože máme připravený test pro kontrolu ošetření vstupů, můžeme se pustit do implementace
ul
  li Přejmenujte současnou metodu operace "calculate" na "calculateInternal_"
  li Vytvořte novou metodu "calculate", která interní metodu provolává a zároveň převádí vstupy na float

note Převod na float můžet eprovést pomocí "parseFloat(a)"
solution.
  Add.prototype.calculate = function (a, b) {
    return this.calculateInternal_(parseFloat(a), parseFloat(b));
  }
  Add.prototype.calculateInternal_ = function (a, b) {
    return a + b;
  }

h4 3.2 - Vytvořte operaci odčítání
ul
  li Nyní zkopírujte implementaci operace "Add"
  li upravte metodu "calculateInternal:" na odčítání
  li přejmenujte objekt na "Sub"
  li změňte její název na "sub"

solution.
  function Sub(){
    this.name = "sub";
  }
  Sub.prototype.calculate = function (a, b) {
    return this.calculateInternal_(parseFloat(a), parseFloat(b));
  }
  Sub.prototype.calculateInternal_ = function (a, b) {
    return a - b;
  }

h4 3.3 - Přidejte akci odčítání
ul
  li připravený kalkulátor umožňuje přidat akce a poté je podle názvu volat, sčítání už je přidáno, zbývá odčítání
  li Přidejte instanci akce odčítání do existujícího kalkulátoru

solution.
  calculator.addOperation(new Sub());

h4 3.4 - Použijte dědičnost
ul
  li Všiměte si duplicity v akcích Add a Sub
  li Obě akce mají stejnou metodu calculate, tu můžeme přesunout do předka

ul
  li Z "Add" a "Sub" udělejte potomky "Operation"
  li Přesuňte akci "calculate" do existujícího objektu "Operation", samotné akce tak budou nyní mít jen "calculateInternal_"

note Prototypová dědičnost se tvoří pomocí přiřazení Object.create(rodičovský-prototyp) do prototypu potomka. Nezapomeňte taky na aktualizaci prototype.constructor.

solution.
  Add.prototype = Object.create(Operation.prototype);
  Add.prototype.constructor = Add;

  Add.prototype.calculateInternal_ = function (a, b) {
    return a + b;
  }

  ...

  Operation.prototype.calculate = function (a, b) {
    return this.calculateInternal_(parseFloat(a), parseFloat(b));
  }

h4 3.5 - Zavolejte konstruktor rodiče
ul
  li V konstruktoru "Add" a "Sub" je nastavován název ručně. Můžeme ale využít toho, že "Operation" jej umí přečíst z konstruktoru.
  li Zavolejte tedy v konstruktorech "Add" a "Sub" místo přiřazení názvu konstruktor rodiče "Operation"

note Pro volání použijte call a předejte kontext potomka.

solution.
  function Add(){
    Operation.call(this);
  }

  ...

  function Sub(){
    Operation.call(this);
  }