<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Backbone | Javascript - Angular.cz</title>

  <link href="/favicon.ico?v=js-exercise" type="image/x-icon",rel="icon">
  <link href="/css/styles.css" rel="stylesheet">

</head>
<body>
<div id="userApp">
</div>

<script type="text/template" id="list-users-template">
  <div class="list-column">
    <h2>Seznam kontaktů</h2>

    <table>
      <thead>
      <tr>
        <th>Jméno</th>
        <th>Email</th>
        <th class="col-archive">Archiv</th>
        <th></th>
      </tr>
      </thead>
      <tbody id="user-list">
      </tbody>
    </table>
  </div>

  <div class="create-column">
    <h2>Přidat kontakt</h2>

    <div id="create-form"></div>

  </div>
</script>

<script type="text/template" id="user-template">
  <td><%- name %></td>
  <td><%- email %></td>
  <td class="col-archive">
    <input name="archived" type="checkbox" <% if(archived) print("checked") %> />
  </td>
  <td class="col-actions">
    <a href="#/users/<%- id %>" class="edit" title="Upravit"><span></span></a>
    <a class="remove" title="Odstranit"><span></span></a>
  </td>
</script>

<script type="text/template" id="edit-user-template">
  <div class="edit-column">
    <h2>Upravit kontakt</h2>

    <div id="edit-form"></div>
  </div>
</script>

<script type="text/template" id="user-form-template">
  <form method="post" novalidate>
    <fieldset>
      <div class="user-edit">
        <div class="column">
          <p>
            Jméno:
            <input type="text" name="name" value="<%- name%>" required/>
          </p>

          <div id="name-validation" class="validation"></div>

        </div>

        <div class="column">
          <p>
            Email:
            <input type="email" name="email" value="<%- email%>" required/>
          </p>

          <div id="email-validation" class="validation"></div>
        </div>

        <div class="column-full">
          <p>
            <span class="small">Kontakt je archivován</span>
            <input type="checkbox" name="archived" <% if(archived) print("checked") %> />
          </p>
        </div>

        <div class="column-full">
          <button class="submit">Uložit</button>
          <a class="cancel" href="#/users" id="cancel-button">Zrušit</a>
        </div>

      </div>
    </fieldset>
  </form>
</script>

<script src="/bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="/bower_components/underscore/underscore.js" type="text/javascript"></script>
<script src="/bower_components/backbone/backbone.js" type="text/javascript"></script>

<script src="js/app.js" type="text/javascript"></script>
<script src="js/models/user.js" type="text/javascript"></script>
<script src="js/models/userList.js" type="text/javascript"></script>
<script src="js/views/editUser.js" type="text/javascript"></script>
<script src="js/views/listUsers.js" type="text/javascript"></script>
<script src="js/views/userForm.js" type="text/javascript"></script>
<script src="js/views/userItem.js" type="text/javascript"></script>
</body>
</html>