<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ember | Javascript - Angular.cz</title>

  <link href="/favicon.ico?v=js-exercise" type="image/x-icon",rel="icon">
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<script type="text/x-handlebars">
  <!-- TODO 1.2 - Vložte obsah šablony routeru -->
</script>

<script type="text/x-handlebars" data-template-name="users">
  <div class="list-column">
    <h2>Seznam kontaktů</h2>

    <table>
      <thead>
      <tr>
        <th>Jméno</th>
        <th>Email</th>
        <th class="col-archive">Archiv</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {{#each sortedUsers as |user|}}

        <!-- TODO 2.2 - Vyrenderujte šablonu user-item -->
      {{/each}}
      </tbody>
    </table>
  </div>

  <div class="create-column">
    <h2>Přidat kontakt</h2>

    <!-- TODO 7.1 - Použijte komponent user-form -->
  </div>
</script>

<script type="text/x-handlebars" data-template-name="user-item">
  <tr class="{{if model.archived 'archived'}}">
    <td>{{model.name}}</td>
    <td>{{model.email}}</td>
    <td class="col-archive">
      <!-- TODO 3.1 - Přepište checkbox na helper -->
      <input type="checkbox" name="archived" checked />
    </td>
    <td class="col-actions">
      <!-- TODO 4.2 - Upravte na link-to -->
      <a href="#/users/{{model.id}}" class="edit" title="Upravit">
        <span></span>
      </a>

      <a {{action "remove"}} class="remove" title="Odstranit"><span></span></a>
    </td>
  </tr>
</script>

<script type="text/x-handlebars" data-template-name="user">
  <div class="edit-column">
    <h2>Upravit kontakt - {{model.name}}</h2>

    <!--// TODO 4.3 - předejte model do komponenty -->
    {{user-form submit="saveUser"}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="components/user-form">

  <!--TODO 5.1 - Volejte akci save při submitu -->
  <form>
  <fieldset>
    <div class="user-edit">
      <div class="column">
        <p>
          Jméno:
          {{input type="text" value=model.name class="form-control" classBinding="validation.name:invalid" }}
        </p>

        {{#if validation.name}}
        <div class="validation">{{validation.name}}</div>
        {{/if}}
      </div>

      <div class="column">
        <p>
          Email:
          {{input type="email" value=model.email class="form-control" classBinding="validation.email:invalid"}}
        </p>

        {{#if validation.email}}
        <div class="validation">{{validation.email}}</div>
        {{/if}}
      </div>

      <div class="column-full">
        <p>
          <span class="small">Kontakt je archivován</span>
          {{input type="checkbox" checked=model.archived}}
        </p>
      </div>

      <div class="column-full">
        <!-- TODO 6.2 - Podmiňte attribut disabled -->
        <button class="submit" >
        Uložit</button>
        {{#unless hideCancel}}
          {{#link-to "users" class="cancel"}}Zrušit{{/link-to}}
        {{/unless}}
      </div>
    </div>
  </fieldset>
  </form>
</script>

<script src="/bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="/bower_components/ember/ember.debug.js" type="text/javascript"></script>
<script src="/bower_components/ember/ember-template-compiler.js" type="text/javascript"></script>
<script src="/bower_components/ember-data/ember-data.js" type="text/javascript"></script>

<script src="js/app.js" type="text/javascript"></script>
<script src="js/models/user.js" type="text/javascript"></script>
<script src="js/controllers/user.js" type="text/javascript"></script>
<script src="js/controllers/users.js" type="text/javascript"></script>
<script src="js/controllers/userItem.js" type="text/javascript"></script>
<script src="js/components/userForm.js" type="text/javascript"></script>
</body>
</html>