p.
  V tomto cvičení si můžete vyzkoušet TDD v javascriptu na vyšší úrovni.


ul
  li Místo assertů jsme pro Vás připravili testy v Jasmine.
  li Jednotlivé úkoly budete zpracovávat v "index.js" přímo uvnitř testů, abyste si na ně zvykli.
  li Testy se spouští přímo v prohlížeči, otevřete je opět zeleným tlačítkem.
  li Tady už občas jen s komentáři v kódu, ale vždycky se napřed podífejte sem do zadání.


h3 1 - Objekt
h4 1.1 - Vytvořte objekt s vlastnostmi
ul
  li Vytvořte objekt, který bude mít vlastnost property a property-with-dash

solution.
  var object = {
    property: 42,
    'property-with-dash': 50,
  };

h4 1.2 - Přiřaďte do objektu zanořený objekt
ul
  li Vytvořte objekt, který má vlastnost property a přiřaďte jej do vlastnosti inner již existujícího objektu

solution.
  object.inner = {
    property: 42
  }

h3 2 - Array
h4 2.1 - Vytvořte pole se třemi prvky
ul
  li Inicializujte pole s prvky hodnot 1, 2, 3

solution.
  var array = [1, 2, 3];

h4 2.2 - Přiřaďte velikost pole
ul
  li Přiřaďte hodnotu velikosti pole "array" do proměnné "numberOfItems"

solution.
  var numberOfItems = array.length;

h3 3 - Datum
h4 3 - Vytvořte datum 28. března 1592
ul
 li Použijte konstrukční funkci a tvar "yyyy-mm-ddT00:00:00Z"
solution.
  var date = new Date("1592-03-28T00:00:00Z");

h3 4 - Regulární výraz
h4 4 - otestujte email pomocí regulárního výrazu emailPattern
ul
  li Máte definován výraz pro kontrolu emailu, vyhodnoťte zda email vyhovuje
  li hodnotu přiřaďte do "testResult"
note Pro otestování výrazu se používá metoda test.
solution.
  var testResult = emailPattern.test(email);

h3 5 - Kalkulačka

p V této části budeme implementovat akce jednoduché kalkulačky a potom factory pro získávání těchto akcí

h4 5.1. Implementujte operaci power
ul
  li Vytvořte funkci se dvěma parametry "power(a,n)" počítající n tou mocninu.
  li Použijte existující funkci Math.pow(a,n)

solution.
  function power(a, b) {
    return Math.pow(a, b);
  }

h4 5.2. Přidejte defaultní parametr
ul
  li Upravte funkci "power" tak, aby při použití s jedním parametrem vracela jeho druhou mocninu

note Pro defaultní parametry můžete použít operátor ||
solution.
  function power(a, b) {
    b = b || 2;
    return Math.pow(a, b);
  }

h4 5.3. Vytvořte factory pro získání operace
ul
  li Vytvořte funkci "operationFactory(operation)" která bude vracet výpočetní operace dle zadaného parametru
  li přesuňte dovnitř funkci "power" a vraťte ji pomocí return pokud je zadaný parametr stejného jména

note Můžete použít switch, nebo mít objekt s funkcemi a klíči odpovídajícími názvům operací.
solution.
  function operationFactory(operation){
    function power(a, b) {
      return Math.pow(a, b);
    }

    switch (operation) {
      case "power": return power;
    }
  }

h4 5.4. Vytvořte ve factory operaci sum dvou čísel
ul
  li přidejte do factory operaci "sum", která sečte dva parametry.

solution.
  function operationFactory(operation){
    function power(a, b) {
      b = b || 2;
      return Math.pow(a, b);
    }

    function sum(a, b) {
      return a + b;
    }

    switch (operation) {
      case "power": return power;
      case "sum" : return sum;
    }
  }

h4 5.5. Upravte operaci sum pro více argumentů
ul
  li Rozšiřte operaci sum tak, aby dokázala sčítat jakýkoli počet argumentů

note K argumentům se přistupuje přes proměnnou arguments. Jedná se o array-like objekt.
solution.
  function sum(a, b) {
    var sum = 0;

    for(var i = 0; i < arguments.length; i++) {
     sum += arguments[i];
    }

    return sum;
  }