h3 1 - Vytvoření promise

p.
  V této části si vyzkoušíte vytvoření vlastní promise, která bude reagovat na dokončení akce a na chybu tak jak by promise měla.

ul
  li Bude se jednat o promise, která počká zadaný interval a pak provolá předanou akci.
  li V případě, že tato vrátí hodnotu, promise bude resolved hodnota bude předána jako výsledek promise.
  li Pokud nic nevrátí bude promise rejected.

h4 Karma runner

p.
  Opět jsme pro Vás připravili testy, tentokrát se ale nepouští v prohlížeči, ale spustíte jej pomocí karma runneru.

ul
  li V jedné konzoli nechejte běžet "npm start" - webserver s cvičeními
  li V druhé spusťte příkaz:
pre
  code npm run tests-async

p.
  Testy reagují na změny a spouští se automaticky, můžete se tedy věnovat kódu a podívat se na stav testů vždy když je třeba.

h4 1.1 - Vraťte promise

p.
  Tento úkol budete zpracovávat v souboru "timeout-promise.js"

ul
  li Funkce reprezentující promise je již připravená, můžete si všimnout i exekutoru.
  li Funkce ale nic nevrací.
  li Vraťte tedy novou Promise

note Promise vytvoříte pomocí new Promise(exekutor)
solution.
  var TimeoutPromise = function(delay, conditionFunction) {
    var executor = function(resolve, reject) {};
    return new Promise(executor);
  };

h4 1.2 - Vyhodnocení promise
ul
  li První co by promise měla dělat, přejít do stavu resolved a vrátit hodnotu.
  li Parametry "resolve" a "reject" jsou funkcemi.
  li Zavolejte tedy funkci "conditionFunction()" a předejte výsledek funkci "resolve()"

solution.
  var executor = function(resolve, reject) {
    resolve(conditionFunction());
  };

h4 1.3 - Zamítnutí promise
ul
  li Nyní už se promise vyhodnotí jako resolved s vrácenou hodnotou.
  li My bychom ale chtěli umět reagovat i na chybu, například pokud funkce vrátí neplatnou hodnotu.
  li Proveďte tedy "resolve" jen pokud je vrácená hodnota převoditelná na true, v opačném případě volejte s vrácenou hodnotou "reject"

solution.
  var value = conditionFunction();
  if (value) {
    resolve(value);
  } else {
    reject(value);
  }

h4 1.4 - Odložené volání
ul
  li Promise běžně nevrací hodnotu ihned, většinou se jedná o asynchronní volání
  li Nejjednodušší variantou může být odložené volání
  li Obalte tedy předchozí vyhodnocení promise, odloženým voláním o délce "delay" předané do funkce
note Pro odložené volání použijte funkci setTimeout(volanaFunkce, delay);

solution.
  setTimeout(function() {
    var value = conditionFunction();
    if (value) {
      resolve(value);
    } else {
      reject(value);
    }
  }, delay);

h3 2 - Nejlepších 10 filmů

p.
  Pro druhou část jsme pro Vás připravili malou aplikaci, která ze serverového API načítá seznam deseti nejlepších filmů.
ul
  li Pokud se na ni podíváte (Otevřete cvičení), uvidíte tři tlačítka, které zobrazí určitou množinu z načtených dat.
  li Ze serveru se ale pokaždé načtou data znovu. Vyzkoušíte si tedy jednoduchou formu cachování pomocí promise.
  li Pro tuto část nejsou připraveny testy, zkoušet ji tedy budete rovnou v prohlížeči.

.alert.alert-warning Pokud byste měli s API nějaký problém, dejte hned vědět, máme připravená náhradní řešení.

h4 2.1 - Cachování výsledků

ul
  li Podívejte se do "movies.js", uvidíte zde "MovieService", která má metodu "getBestMovies(count)".
  li Ta získává data z metody "getMovies" která nám poslouží jako prostředník, kde můžeme požadavek cachovat.
  li Data se v ní načítají funkcí fetchMovies(), která vrací promise.
  li Zavolejte tedy na ní metodu .then a uložte získaná data do atributu movies.

note Nezapomeňte vrátit z funkce hodnotu abyste neporušili řetězec promise. Také musíte použít "bind" pro zachování this.

solution.
  MovieService.prototype.getMovies = function () {
    return fetchMovies().then(function (movies) {
      this.movies = movies;
      return movies;
    }.bind(this));
  };

h4 2.2 - Vrácení hodnoty

ul
  li Nyní je potřeba ještě nacachovanou hodnotu vracet místo volání funkce fetchMovies().
  li Protože ale volající metoda očekává promise, musíte vrátit taky promise.

note Z obyčejné proměnné můžete udělat promise pomocí Promise.resolve(hodnota)

solution.
  if(this.movies) {
    return Promise.resolve(this.movies);
  }

h4 2.3 - Cachování probíhající promise
ul
  li Nyní už se požadavek po dokončení cachuje. Ale pokud odešlete požadavky rychle za sebou, začnou se vykonávat.
  li To není žádoucí, také promise je možné cachovat.

ul
  li Přiřaďte tedy výsledek volání "fetchMovies" do atributu "moviesPromise" a ten poté vracejte.
  li Funkci fetchMovies volejte jen pokud je "moviesPromise" prázdný.

ul
  li Velikost metody by po úpravách přesáhla únosnou mez, můžete tedy volání "fetchMovies" přesunout do metody "loadMovies_"

solution.

  MovieService.prototype.getMovies = function () {
    if (this.movies) {
      return Promise.resolve(this.movies);
    }
    if (!this.moviesPromise) {
      this.moviesPromise = fetchMovies().then(function(result) {
        this.movies = result
        return result;
      }.bind(this));
    }

    return this.moviesPromise;
  };

h4 2.4 - Promise ve stavu resolved
ul
  li Nyní máme vlastně dvě úrovně cachování, promise, a výsledek.
  li Pokud bychom ale požadavek nepotřebovali nikdy opakovat, můžeme vystačit s cachováním promise
  li Pokud je promise ve stavu resolved, bude jeho metoda .then navždy vracet získaný výsledek.
  li Odstraňte tedy cachování movies a také zápis do atributu movies.

solution.
  MovieService.prototype.getMovies = function () {
    if(!this.moviesPromise) {
      this.moviesPromise = fetchMovies();
    }

    return this.moviesPromise;
  };
h4 2.5 - Ověření na UI
ul
  li Nyní můžete ověřit v UI, že se i po úpravách požadavek posílá jen jednou.
