<div class="list-column">
  <h2>Seznam kontaktů</h2>

  <table>
    <tr>
      <th>Jméno</th>
      <th>Email</th>
      <th class="col-archive">Archiv</th>
      <th></th>
    </tr>

    <!--TODO 1.2 - Zobrazte položky seznamu -->
    <!--TODO 2.2 - Vizualizujte archivované řádky -->
    <tr>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td class="col-archive">

        <!--TODO 2.1 - Přidejte checkboxu vazbu na model-->
        <!--TODO 3.1 - Reagujte na kliknutí na checkbox-->
        <input type="checkbox" />
      </td>
      <td class="col-actions">
        <a ng-href="#/users/{{user.id}}" class="edit" title="Upravit"><span></span></a>
        <a ng-click="list.remove(user)" class="remove" title="Odstranit"><span></span></a>
      </td>
    </tr>
  </table>
</div>

<div class="create-column">
  <h2>Přidat kontakt</h2>

  <user-form on-save="list.create(user)" hide-cancel></user-form>

</div>