<form name="userEdit.form" class="user-edit" novalidate>
  <fieldset>

    <div class="column">
      <p>
        Jméno:
        <input type="text" name="name" ng-model="userEdit.user.name" class="form-control" required/>
      </p>

      <div ng-messages="userEdit.form.name.$error" ng-if="userEdit.form.name.$touched">
        <div ng-message="required">Musíte zadat jméno.</div>
      </div>
    </div>

    <div class="column">
      <p>
        Email:
        <input type="email" name="email" ng-model="userEdit.user.email" class="form-control" required/>
      </p>

      <div ng-messages="userEdit.form.email.$error" ng-if="userEdit.form.email.$touched">
        <div ng-message="required">Musíte zadat email.</div>
        <div ng-message="email">Email není platný.</div>
      </div>
    </div>

    <div class="column-full">
      <p>
        <span class="small">Kontakt je archivován</span>
        <input type="checkbox" ng-model="userEdit.user.archived"/>
      </p>
    </div>

    <div class="column-full">
      <button class="submit"
              ng-disabled="userEdit.form.$invalid"
              ng-click="userEdit.save()">Uložit
      </button>
      <a class="cancel" ng-href="#/orders" ng-if="userEdit.isCancelVisible()">Zrušit</a>
    </div>

  </fieldset>
</form>