<!-- TODO 7.1 - Pojmenujte formulář -->
<form class="user-edit" novalidate>
  <fieldset>
    <div class="column">
      <p>
        Jméno:
        <!--TODO 7.2 - Udělejte jméno povinným-->
        <input type="text" name="name" ng-model="userEdit.user.name" class="form-control"/>
      </p>

      <div ng-messages="userEdit.form.name.$error" ng-if="userEdit.form.name.$touched">
        <!--TODO 7.3 - Zobrazte chybovou hlášku pro zadání jména-->
      </div>
    </div>

    <div class="column">
      <p>
        Email:
        <input type="email" name="email" ng-model="userEdit.user.email" class="form-control" required/>
      </p>

      <div ng-messages="userEdit.form.email.$error" ng-if="userEdit.form.email.$touched">
        <div ng-message="required">Musíte zadat email.</div>
        <div ng-message="email">Email není platný.</div>
      </div>
    </div>

    <div class="column-full">
      <p>
        <span class="small">Kontakt je archivován</span>
        <input type="checkbox" ng-model="userEdit.user.archived"/>
      </p>
    </div>

    <div class="column-full">
      <!--TODO 7.4 - Disablujte tlačítko pro nevalidní formulář-->
      <button class="submit"
              ng-click="userEdit.save()">Uložit
      </button>
      <!-- TODO 6.2 - Skryjte tlačítko -->
      <a class="cancel" ng-href="#/orders" >Zrušit</a>
    </div>

  </fieldset>
</form>