p.
  V tomto cvičení se opět spouští testy přímo v prohlížeči. Oddělili jsme ale kód testů od produkčního kódu.

ul
  li Kód tedy budete psát v souborech generator-base.js a generator-step.js
  li Jednotlivé nadpisy odpovídají testům.
  li Pokud si budete chtít testy prohlédnout, najdete je v tests.js

h3 1 - Generátor číselné řady

p.
  Vaším úkolem v tomto cvičení bude vytvořit funkci generatorFactory, která vrací generátor číselné řady od zadaného čísla

ul
  li Zpracovávejte jej v "generator-base.js"

solution(visible).
    var generatorFromTen = generatorFactory(10);

    generatorFromTen()  // 10
    generatorFromTen()  // 11
    generatorFromTen()  // 12

h4 1.1 - generatorFactory přijímá jeden parametr, jeho defaultní hodnota je 0
ul
  li definujte parametr initialNumber s defaultní hodnotou 0
solution.
    var generatorFactory = function(initialNumber) {
      initialNumber = initialNumber || 0;

    };

h4 1.2 - generatorFactory vrací jinou funkci - generator - ten pří volání vrací initialNumber
ul
  li jako návratovou hodnotu použijte novou funkci
  li pojmenujte ji jako "generator"
  li návratová hodnota této funkce je "initialNumber"

solution.
  var generatorFactory = function(initialNumber) {
    initialNumber = initialNumber || 0;

    return function generator() {
      return initialNumber;
    }
  };

h4 1.3 - další volání generátoru vrací vždy číslo zvýšené o 1
ul
  li použijte postincrement na návratovou hodnotu funkce generátor

solution.
  var generatorFactory = function(initialNumber) {
    initialNumber = initialNumber || 0;

    return function generator() {
      return initialNumber++;
    }
  };

h3 2 - izolace jednotlivých souborů

h4 2.1 - izolujte pomocí IIFE
ul
  li obalte kód v souboru "generator-base.js" pomocí IIFE
  li generátor vystavte pod názvem "baseGeneratorFactory"

note IIFE =>  (funtion(){ .... })(). Vystavením se myslí přiřazení pod daný název na window - "window.nazev = ..."
solution.
  (function() {

    var generatorFactory = function(initialNumber) {

      initialNumber = initialNumber || 0;

      return function generator() {
        return initialNumber++;
      }

    };

    window.baseGeneratorFactory = generatorFactory;
  })();

h4 2.2 - přidejte do index.html druhý javascriptový soubor generator-step.js
solution(html)
  :escape
    <script src="generator-step.js"></script>

h3 3 - generátor s nastavitelným krokem
p.
  V tomto úkole budeme implementovat generátor s nastavitelným krokem, který bude možné použít způsobem níže.

solution(visible).
  var generator2 = stepGeneratorFactory(100);

  generator2.setStep(10);

  generator2.increase();  // 110
  generator2.increase();  // 120
  generator2.increase();  // 130

p následující úkoly realizujte v souboru generator-step.js

h4 3.1 stepGeneratorFactory by měla vracet objekt s vlastnostmi setStep a increase
ul
  li Základní skelet souboru je připraven, zbýváoživit generátor
  li definujte tedy objekt jako návratovou hodnotu
  li definujte vlastnosti tohoto objektu setStep a increase, jako hodnotu můžete zatím použít null

solution.
  return {
    setStep: null,
    increase: null
  };

h4 3.2 setStep je funkce s jedním parametrem
ul
  li ve funkci stepGeneratorFactory definujte funkci setStep, která nastavuje hodnotu proměnné step
  li funkci vraťte jako hodnotu vlastnosti objektu vytvořeného v předchozím kroku

solution.
  function setStep(newStep) {
    step = newStep;
  }

  return {
    setStep: setStep,
    increase: null
  };

h4 3.3 increase je funkce, vrací hodnotu zvýšenou o step
ul
  li ve funkci stepGeneratorFactory definujte funkci increase, která zvýší hodnotu a vrátí ji
  li funkci vraťte jako hodnotu vlastnosti objektu vytvořeného v předchozím kroku

solution.
  function increase() {
    value += step;
    return value;
  }

  return {
    setStep: setStep,
    increase: increase
  };