<div class="list-column">
  <h2>Seznam kontaktů</h2>

  <table>
    <tr>
      <th>Jméno</th>
      <th>Email</th>
      <th class="col-archive">Archiv</th>
      <th></th>
    </tr>
    <tr ng-repeat="user in list.users|orderBy:'name'" ng-class="{archived : user.archived}">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td class="col-archive">
        <input type="checkbox" ng-model="user.archived" ng-change="list.update(user)"/>
      </td>
      <td class="col-actions">
        <a ng-href="#/users/{{user.id}}" class="edit" title="Upravit"><span></span></a>
        <a ng-click="list.remove(user)" class="remove" title="Odstranit"><span></span></a>
      </td>
    </tr>
  </table>
</div>

<div class="create-column">
  <h2>Přidat kontakt</h2>

  <user-form on-save="list.create(user)" hide-cancel></user-form>

</div>